*.zip
*.docx
*.pdf
*.exe
*.env
*.env.example
.env.example
.env
.env.txt
.postman
node_modules
*.xlsx
*.log
*.sql
*.sh
migrations/**
KV/**.log
KV/**.xlsx
KV/**.pdf
KV/**.docx
KV/**.jpg
KV/**.png
KV/**.jpeg
KV/**.webpw